body {
    background-image: url('../res/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  color: #7f8c8d; 
}

table {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

footer a:hover{
  text-decoration: none;
  font-style: bold;
  color:#d35400;
}

hr.sub {
	background-color: #34495e;
	border-top: 2px solid #34495e;
}

/* -- Table ----------*/

td {
  vertical-align: middle!important;
    border-color:#2c3e50;

}

th {
  vertical-align: middle!important;
    border-color:#2c3e50!

}

.panel {
  border-color:#2c3e50!important;
      border:2px;
}

.rep {
  background-color: #c0392b;
  color: #ecf0f1;
}
.rep:hover{
  background-color: #e74c3c;
  color: #fff;
}

.dem {
  background-color: #2980b9;
  color: #ecf0f1;
}
.dem:hover{
  background-color: #3498db;
  color: #fff;
}

.ind {
  background-color: #bdc3c7;
  color: #2c3e50;
}
.ind:hover{
  background-color: #ecf0f1;
  color: #000;
}
.exp{
  background-color: #ecf0f1;
  color: #000;
}

.expand-caret{
  width:40px;
  color: #000;
}
.expand-caret:hover{
  font-size: 15px;
  transition: 0.3s;
}

.profile-photo img{
  border-radius: 5px!important;
}

.indent {
  background-color: transparent!important;
}


/*-- Title -------- */

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 6rem;
  color: #ecf0f1; 
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.75rem;
  color: #7f8c8d; 
}

/* -- End Title ---------- */

/* -- Modal ---------- */

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}